/* @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Noto+Sans+Hebrew:wght@100..900&display=swap");
body {
  background-color: #d9d9d9;
  font-family: "Noto Sans Hebrew", sans-serif;
}

.mainNav {
  width: 100%;
}

.topNav {
  background-color: #5806c7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 57px;
  position: relative;

  .links {
    display: flex;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;

    .social-icon {
      width: 35px;
      height: 35px;
      background-color: white;
      border-radius: 50%;
      color: #f15723;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s;
    }
  }
}

.bottomNav {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 57px;
  position: relative;
  .links {
    display: flex;
    gap: 1rem;

    a {
      color: #404040;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f15723;

  input {
    border: 1px solid #f15723;
    color: #f15723;
    border-radius: 20px;
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
  }

  button {
    background: none;
    border: none;
    color: #f15723;
    font-weight: bold;
    cursor: pointer;
  }
}
.navbar-toggler {
  color: white;
  font-size: 20px;
}

.collapse a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
} */
