@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Noto+Sans+Hebrew:wght@100..900&display=swap");
body {
  font-family: "Noto Sans Hebrew", sans-serif;
  background-color: #fbf8ff;
}

.mainNav {
  width: 1920px;
  height: 114px;
  border: 1px;
}

.topNav {
  background-color: #5806c7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 57px;
  position: relative;

  .links {
    display: flex;
    gap: 1rem;
    a {
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }

  .social-icons {
    display: flex;
    gap: 10px;

    .social-icon {
      width: 35px;
      height: 35px;
      background-color: white;
      border-radius: 50%;
      color: #f15723;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s;
    }
  }
}

.bottomNav {
  background-color: #ffffff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 57px;
  position: relative;
  .links {
    display: flex;
    gap: 1rem;

    a {
      color: #404040;
      text-decoration: none;
      font-size: 14px;
    }
  }
}

.site-logo {
  height: 114px;
  top: 23px;
  left: 1723px;
  padding: 25px;
}
.logoBox {
  background-color: white;
  height: 114px;
}
.home {
  display: flex;
  justify-content: space-between;
}
footer {
  background-color: #5806c7;

  color: white;
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;

    .social-icon {
      margin-top: 30px;
      width: 35px;
      height: 35px;
      background-color: #5806c7;
      border-radius: 50%;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s;
    }
  }
}
.site-logo-foot {
  height: 114px;
  top: 23px;
  left: 1723px;
  padding: 25px;
  background-color: #fbf8ff;
}
.mediaTopFooter {
  display: flex;
  justify-content: space-between;
  background-color: #fbf8ff;
}
.readMore {
  color: #f15723;
  text-decoration: none;
}
.footer-link {
  color: #ccc;
  text-decoration: none;
  margin-bottom: 4px;
  transition: color 0.2s ease;
}
.allrightsreserved {
  height: 105px;
  width: 100%;
  background-color: #130822;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.mainHero {
  background-color: white;
}
.rightsLogo {
  width: 325px;
  height: 27px;
}
.articleGrid {
  width: 1200px;
  height: 316px;
  top: 1826px;
  left: 360px;
  margin: 20px;
  padding: 20px;
  small {
    font-size: 11px;
  }
}
.magazineContainer {
  .letterTitle {
    height: 48px;
    width: 47px;
    margin-left: 15px;
  }
  width: 1200px;
  height: 3750px;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}
.mgz-item {
  background-color: white;
  padding: 7px;
  margin: 4px;
}
.gridTitle {
  display: flex;
}
.lines {
  background: var(--bg-color);
  height: 1px;
  width: 785px;
  display: block;
  align-self: flex-end;
  padding-right: 45px;
}
.toPageBtn {
  width: 117px;
  height: 25px;
  top: 30px;
  border: 1px;
}
.tvDiv {
  background-color: #0b0119;
  width: 1920px;
  height: 876px;
  top: 6182px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.inTvDiv {
  width: 1250px;
  height: 652px;
  top: 6294px;
  left: 335px;
  opacity: 1;
  margin-top: 100px;
}
.tvInfo {
  width: 1250px;
  height: 652px;
  top: 6294px;
  left: 335px;
}

.tvTitle {
  width: 1250px;
  height: 48px;
  top: 6294px;
  left: 335px;
}
.mainVideo {
  width: 617px;
  height: 581px;
  top: 6365px;
  left: 968px;
  background-color: #130822;
}
img:hover {
  opacity: 95%;
}
.tvVideos {
  background-color: #130822;
}
#searchBar {
  width: 298px;
  height: 36px;
  top: 69px;
  left: 22px;
  border-width: 1px;
  border: 1px solid #f15723;
  border-radius: 60px;
  color: #f15723;
}
#searchBar::placeholder {
  font-size: 12px;
  font-weight: 300;
  color: #f15723;
  opacity: 1;
  padding-right: 15px;
}
.lineY {
  width: 1437.0000000000014px;
  height: 0px;
  top: 195px;
  left: 668px;
  border-width: 1px;
  opacity: 0.42;
}
.podcasts {
  margin-top: 60px;
  width: 1258px;
  height: 591px;
  top: 7277px;
  left: 331px;
  gap: 31px;
  opacity: 1;
}
.podcastPost {
  width: 617px;
  height: 248px;
  opacity: 1;
  background-color: white;
}
.podcastsPosts {
  width: 1258px;
  height: 512px;
  gap: 21px;
  opacity: 1;
}
.playBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 24px;
  cursor: pointer;
}
.podBtn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 132px;
  height: 27px;
  cursor: pointer;
}
.mostViewed {
  margin-top: 90px;
}
.borderY {
  color: #5806c7;
  padding-left: 25px;
}
.mobileLogo {
  width: 127.97786712646484px;
  height: 52.99985122680664px;
  top: 12px;
  left: 300px;
  opacity: 1;
}
